@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #202020;
  color: white;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}

.fixture {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fixture h2 {
  margin: 0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
.fixture img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.fixture p {
  margin: 5px 0;
}
.team-info {
  display: flex;
  align-items: center;
}
.filter-form {
  margin-bottom: 20px;
}

.odds-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
}